{% extends 'base.html' %}
{% block title %}
Blog
{% endblock title %}
{% load static %}

{% block body %}
    {% comment %} <div class="container"> {% endcomment %}
    <div class="main">
      <div class="blog">
        <h1>Blogs by SuDiPtA  - The lagend</h1>
        <div class="blog-item">
            <h2>Learn HTML - in fun way!</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis officia amet, provident ipsa dolores atque maxime vero obcaecati sint recusandae. Animi totam a ea nulla unde laboriosam? Distinctio accusantium iste quidem eum doloremque illo delectus perspiciatis est neque, adipisci veritatis ratione atque nemo aperiam.</p>
            <button class="btn btn-sm">Read more</button>
        </div>
        <div class="blog-item">
            <h2>Learn CSS - in fun way!</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis officia amet, provident ipsa dolores atque maxime vero obcaecati sint recusandae. Animi totam a ea nulla unde laboriosam? Distinctio accusantium iste quidem eum doloremque illo delectus perspiciatis est neque, adipisci veritatis ratione atque nemo aperiam.</p>
            <button class="btn btn-sm">Read more</button>
        </div>
        <div class="blog-item">
            <h2>Learn javascript - in fun way!</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis officia amet, provident ipsa dolores atque maxime vero obcaecati sint recusandae. Animi totam a ea nulla unde laboriosam? Distinctio accusantium iste quidem eum doloremque illo delectus perspiciatis est neque, adipisci veritatis ratione atque nemo aperiam.</p>
            <button class="btn btn-sm">Read more</button>
        </div>
       
      </div>
    </div>
{% comment %} </div> {% endcomment %}

{% comment %} </div> {% endcomment %}
{% endblock body %}
