{% extends 'base.html' %}
{% block title %}
Blog
{% endblock title %}
{% load static %}

{% block body %}
    {% comment %} <div class="container"> {% endcomment %}
      <div class="main">
        <h1>About Me</h1>
        <div class="intro">

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
                non illum obcaecati, excepturi minus commodi earum deleniti, ex
                nesciunt minima sunt? Voluptates quasi enim soluta illum qui voluptas,
                aliquam delectus. Quod voluptate atque vel inventore laudantium odio
                accusantium sapiente adipisci nulla incidunt. Sunt, sint.
            </p>
            <h2>My skills</h2>
            <div class="skill-container">
                HTMl:
                <div class="skill">
                    
                </div>
                CSS:
                <div class="skill-1">

                </div>
                JAVASCRIPT:
                <div class="skill-2">

                </div>
                PYTHON:
                <div class="skill-3">

                </div>
                DJANGO:
                <div class="skill-4">

                </div>
            </div>
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
    {% endblock body %}
