{% extends 'base.html' %}
{% block title %}
Services
{% endblock title %}
{% load static %}

{% block body %}
    {% comment %} <div class="container"> {% endcomment %}
    {% comment %} <div class="sidebar">
        <!-- Sudipta -->
        <nav>
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="intro.html"> My intro</a></li>
                <li> <a href="services.html">Services</a></li>
                <li> <a href="blog.html"> Blog</a></li>
                <li> <a href="contact.html">Contact Me</a></li>
            </ul>
        </nav>
    </div> {% endcomment %}
   <div class="main-1" >
    <h1 style="padding: 49px;">Our passion is your success.</h1>
    <p style="padding: 43px;
    font-size: 20px;
}">We  know that one size doesn't fit all. Our customers success stems from making each employee recognition program match each organization, down to the details. We work to understand the uniqueness of your organization and vision so we can set up and support your success, every-day.</p>
   </div>
{% endblock body %}
